@keyframes slideInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
  .logos-slide-container {
    animation: slideInfinite 30s linear infinite; 
  }